

<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
   Categoria por pedido
  </a>
  
  <ul class="dropdown-menu" >
      @foreach(var categoria in Model)
      {
       <liv>
       <a class="dropdown-item" asp-controller="Pedido" asp-action="List" asp-route-categoria="@categoria.CategoriaNome" style="color:black">@categoria.CategoriaNome</a>
        </liv>
      }
        <li class="dropdown-divider"></li>
       <li>
       <a class="dropdown-item" asp-controller="Pedido" asp-action="List" asp-route-categoria="">Todos os pedidos</a>
       </li>
  </ul>
</div>