<br />
<h1>ACESSO NEGADO</h1>
<div class="container">
    <div class="jumboton">
        <p>
            <h2>NECESSÁRIO AUTORIZAÇÃO X</h2>
        </p>
    </div>

    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a>

</div>