@model LoginViewModel

<table>
    <tr>
        <td><img src="~/images/3135768.png" style="width:120px" alt="Fazer o Login" class="center-block" /></td>
        <td>
            <td>
                <div class="row">
                    <div class="col-md-12 col-lg-12">

                        <h4>REGISTRAR USUÁRIO</h4>

                        <form asp-controller="Account" asp-action="Register" method="post">
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="UserName"></label>
                                <input asp-for="UserName" class="form-control"/>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Pàssword"></label>
                                <input asp-for="Pàssword" class="form-control"/>
                                <span asp-validation-for="Pàssword" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                ´<input type="submit" class="btn btn-success" value="Registrar"/>
                            </div>
                        </form>
                    </div>
                </div>
            </td>
        </td>
    </tr>

</table>