@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container"> 
    
<div>
    <h3>Queremos ouvir sua opinião</h3>
</div>
<p>
    Se você tiver alguma coisa a falar entre em contato conosco.
</p>
<p>
    <span><img src="~/Images/emailicon.png"/></span>
    <h5><email endereco="mikaioharison038@gmail.com" conteudo="Enviar um e-mail"></email></h5>
    <br/>
    <span><img src="~/Images/numerocontato.png"/></span>
    <h5>(91)983601297</h5>
    <br/>
    <span><img src="~/Images/homeicon.png"/></span>
    <h5>Rua Camilo Salgado Bairro Aeroporto</h5>
</p>
<<br/>




</div>  